extends ../../layouts/header/header.pug



//- block title
//-     title= title 



//- block cssLink
//-     link(rel="stylesheet", href="/css/home.min.css")



block jsScript
    script(src="/js/app.js" defer) 

block bodyContent
    .main   
        .container 

            .search_form.mt-3
                .input-group.mb-3
                    input.form-control(type='text' placeholder="Search Word" aria-label="Search Word" aria-describedby='button-addon2')
                    button#button-addon2.btn.btn-outline-secondary(type='button') Search
 

            .inp_form
                form(action="/", method="post") 
                    .mb-3
                        label.form-label(for='word') Enter Your Word
                        input#word.form-control(type='text'  name="word")
                        if(error.word) 
                            .alert.alert-danger(role='alert')
                                | #{error.word.msg}
                        
                    .mb-3
                        label.form-label(for='description') Enter Your Word Description
                        textarea#description.form-control(rows='3' type="text" name="description" )
                        if(error.description) 
                            .alert.alert-danger(role='alert')
                                | #{error.description.msg}
                    .mb-3
                        input.btn.btn-info(type="submit", value="Submit")
            table.table
                if(result.length > 0)
                        thead
                            tr
                            th(scope='col') #
                            th(scope='col') Word
                            th(scope='col') Description
                            th(scope='col') Actions
                        tbody
                            each val, i in result
                                tr(_id = val._id)
                                th(scope='row') #{i+1}
                                td #{val.word}
                                td #{val.description}
                                td  
                                    button#edit.me-2.btn.btn-info.fw-bold.text-white 
                                        | Edit
                                    button#delete.me-2.btn.btn-danger.fw-bold
                                        | Delete

                            
                           
                else 
                    h1.text-center No Data Found
                    
